HandwritingRecognitionSystem_v2/model
HandwritingRecognitionSystem_v2/summary
HandwritingRecognitionSystem_v2/MATRICULAmodel
HandwritingRecognitionSystem_v2/__pycache__
HandwritingRecognitionSystem_v2/ocr-env
HandwritingRecognitionSystem_v2/log
HandwritingRecognitionSystem_v2/log
file_manipulation/img/__pycache__
file_manipulation/pdf/__pycache__
file_manipulation/matricula.pdf
*/__pycache__