HandwritingRecognitionSystem_v2/model
HandwritingRecognitionSystem_v2/summary
HandwritingRecognitionSystem_v2/MATRICULAmodel
HandwritingRecognitionSystem_v2/__pycache__
HandwritingRecognitionSystem_v2/ocr-env
image_processing/__pycache__
